$color_basic: #F6F6F6;
$color_interactions: #263C93;
$color_balanced: #E38895;
$color_dark: #282828;
$color_smiled: #FFDB23;
$color_secondary-text: #8B8B8B;

$max-content-width: 1921px;
$big-desktop-width: 1601px;
$desktop-width: 1281px;
$mobile-width: 391px;