.wrapper {
    padding-top: 70px;
    padding-bottom: 81px;
    position: relative;
}

.wrapper::before {
    content: "";
    display: block;
    background-color: #E0E0E0;
    height: 4px;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
}

.socials {
    width: 220px;
}