@import "./styles/constants";
@import "./styles/layouts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $color_basic;
  font-size: 10px;
  color: $color_dark;
}

a {
  color: inherit;
  text-decoration: none;
}

